vendor/
node_modules/
Homestead.yaml
Homestead.json

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
.env.*.php
.env.php
.env
composer.lock

# Sublime Text specific
.project
.phpintel
.settings
*.sublime-*

# Public folders
public/css/*
!public/css/.gitkeep
public/fonts/*
!public/fonts/.gitkeep
public/js/*
!public/js/.gitkeep
public/plugins/*
!public/plugins/.gitkeep