/**
 * Dashboard app
 */

$icon-font-path: "../fonts/" !default;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

$ionicons-font-path: "../fonts" !default;

@import "node_modules/ionicons/scss/ionicons";

th {
    text-align: center;
}